body{
	width:800px;
	background: lightsteelblue;
	text-align: center;
}

#button{
	padding-top: 20px;
}



h1 {
    text-align: center;
}


h2 {
    text-align: center;
}

h3 {
    text-align: center;
}